

.login-help{
  font-size: 14px;
  color:black;
}
.login-help a{
  color:black;
}
h1{
  text-align: center;
  color:black;
}
body{
  background-image:url('../../assets/img/dark.jpg'); 
}
#formUser,#formVenda,#formProd,#formCat,#formLogin{
  background-color: white;
  padding-bottom: 10px; 
  padding: 5px;
  border-radius: 8px;
}